.container.full-screen-flex {
  display: flex;
  width: 100%;
  // height: calc(100vh - 70px);
  justify-content: space-around;
  min-height: 430px;
  .content {
    padding-top: 20px;
  }
}

// @media (min-width: $screen-sm-min) {
//   .container.full-screen-flex .content {
//       padding-top: 80px;
//   }
// }

#article-link {
  @media (min-width: $screen-sm-min) {
    margin: 20px;
  }
  a {
    color: white;
    padding: 15px 60px;
    background: #0C869B;
    border-radius: 5px;
    &:hover {
      text-decoration: none;
      background-color: rgba(12, 134, 155, 0.8);
    }
   @media (max-width: $screen-xs-max) {
    padding: 15px 25px;
  }
  }

}

#btn-gen {
  background-color: white;
  border: none;
  padding: 15px 60px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.38);
  &:hover {
   background-color: #0C869B;
   color: white;
  }
  @media (max-width: $screen-xs-max) {
    padding: 15px 25px;
  }
}

.gen-msg, .rd-msg {
  margin-top: 30px;
  font-size: 1.7em;
  color: grey;
  em {
    font-style: normal;
    background-color: #a0a0a0;
    color: white;
    padding: 3px 20px;
    border-radius: 7px;
  }
}
