.container.full-screen-flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  @media (min-width: $screen-md-min) {
   .content {
    padding-top: 20px;
   }
  }
}

#article-link {
  @media (min-width: $screen-sm-min) {
    margin: 20px;
  }
  a {
    color: white;
    padding: 15px 60px;
    background: #0C869B;
    border-radius: 5px;
    &:hover {
      text-decoration: none;
      background-color: rgba(12, 134, 155, 0.8);
    }
   @media (max-width: $screen-xs-max) {
    padding: 15px 25px;
  }
  }

}

#btn-gen {
  background-color: white;
  border: none;
  padding: 15px 60px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.38);
  &:hover {
   background-color: #0C869B;
   color: white;
  }
  @media (max-width: $screen-xs-max) {
    padding: 15px 25px;
  }
}

.gen-msg, .rd-msg {
  margin: 30px 0px;
  font-size: 1.7em;
  color: grey;
  em {
    font-style: normal;
    background-color: #a0a0a0;
    color: white;
    padding: 3px 20px;
    border-radius: 7px;
  }
}

// Font sizes
h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height
    and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}


