<div class="container full-screen-flex">
  <div class="text-center content" style="max-width: 850px">
    <h1><%= @article.title %></h1>
    <h2><%= @article.author %></h2>
    <div id="article-link"><%= link_to "Read it!", @article.url, target: "_blank" %></div>
    <input id="btn-gen" type="button" onclick="location.href='<%= root_path %>';" value="Another!" />
<!--     <div class="rd-msg">Hit <em>enter</em> to read!</div>
 -->    <div class="gen-msg">or hit the <em>spacebar</em> for another random article!</div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
  const gen = document.getElementById("btn-gen");
  const rd = document.getElementById("article-link").firstChild;
  document.body.onkeyup = function(e){
      if(e.keyCode == 32){
        gen.click();
      // } else if(e.keyCode == 13){
      //   rd.click();
      }
    }
  </script>
<% end %>
